.menu-toggle {
	position: fixed;
	top: 40px;
	left: 40px;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	transition: opacity, left .22s ease-in;
	z-index: 100;
}

.menu-toggle {
	opacity: .7;
}

.menu-toggle.open {
	left: 320px;
}